@import "tailwindcss";

@theme {
  --font-yekan_bakh_regular: yekan_bakh_regular;
  --font-yekan_bakh_semi_bold: yekan_bakh_semi_bold;
  --font-yekan_bakh_extra_bold: yekan_bakh_extra_bold;
  --font-gilroy_regular: gilroy_regular;

  --color-primary-color: #ff5023;
  --color-secondary-color: #f0f0f0;
  --color-header-color: #f9f9f9;
  --color-product-detail-container-color: #dedede;
  --color-product-detail-container2-color: #f9f9f9;
  --color-product-detail-inside-container-color: #e1e1e1;

  --color-primary-text-color: #212121;
  --color-secondary-text-color: #43454d;
  --color-sub-text-color: #9c9c9c;
  --color-gray-color: #eaeaea;
  --color-box: #d8d8d84f;
  --color-gray-150: #ebebeb;
  --color-gray-line: #dedede;

  --color-red-color: rgba(255, 80, 35, 1);
  --color-medium-gray: rgba(129, 129, 129, 1);
  --color-highlight-light: rgba(237, 20, 91, 0.06);

  --spacing-17: 1.0625rem;
  --spacing-1-8725: 0.468125rem;
  --spacing-12-63: 0.789375rem;
  --spacing-15-82: 0.98875rem;

  --text-25: 1.5625rem;
  --text-15: 0.9375rem;

  --radius-smooth: 0.468125rem;
  --radius-20: 20px;
  --radius-15: 15px;
  --radius-7: 7px;
}

@layer utilities {
  .container {
    @apply mx-auto max-w-[1280px] px-5;
  }
}

@font-face {
  font-family: yekan_bakh_regular;
  src: url("/assets/fonts/yekan_bakh_regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: yekan_bakh_semi_bold;
  src: url("/assets/fonts/yekan_bakh_semi_bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: yekan_bakh_extra_bold;
  src: url("/assets/fonts/yekan_bakh_extra_bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: gilroy_regular;
  src: url("/assets/fonts/GilroyRegular.ttf") format("woff");
  font-display: swap;
}

@layer base {
  body {
    @apply font-yekan_bakh_regular;
  }
}

.swiper-wrapper {
  padding-bottom: 2rem;
}

.swiper-pagination-bullet {
  background-color: #ff4f238e !important;
  width: 16.363636016845703px !important;
  height: 16.363636016845703px !important;
}

.swiper-pagination-bullet-active {
  background-color: #ff5023 !important;
}

.title__line {
  position: relative;
}

.title__line::after {
  content: "";
  position: absolute;
  background-color: #ff502312;
  width: 85%;
  height: 23;
  bottom: -8px;
}
