@import "tailwindcss";

@theme {
  --font-yekan_bakh_regular: yekan_bakh_regular;
  --font-yekan_bakh_semi_bold: yekan_bakh_semi_bold;
  --font-yekan_bakh_extra_bold: yekan_bakh_extra_bold;

  --color-primary-color: #ff5023;
  --color-secondary-color: #f0f0f0;
  --color-header-color: #F9F9F9;

  --color-primary-text-color: #212121;
  --color-secondary-text-color: #43454d;

}

@layer utilities {
  .container {
    @apply mx-auto px-2;
  }
}

@font-face {
  font-family: yekan_bakh_regular;
  src: url("/assets/fonts/yekan_bakh_regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: yekan_bakh_semi_bold;
  src: url("/assets/fonts/yekan_bakh_semi_bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: yekan_bakh_extra_bold;
  src: url("/assets/fonts/yekan_bakh_extra_bold.woff") format("woff");
  font-display: swap;
}

* {
  @apply font-yekan_bakh_regular;
}
